/* Dark mode for all elements on all pages */
html {
  color-scheme: dark light;
  filter: invert(1) hue-rotate(.5turn);
}

/* Keep following element from dark mode */
svg {
  filter: invert(1) hue-rotate(.5turn);
}

img {
  filter: invert(1) hue-rotate(.5turn);
}

/* Keep video player from dark mode */
.bilibili-player-video-wrap,
.v-inline-player {
  filter: invert(1) hue-rotate(.5turn);
}

/* Keep video preview from dark mode */
.van-framepreview {
  filter: invert(1) hue-rotate(.5turn);
}

/* Keep video player ending panel from dark mode */
.bilibili-player-ending-panel {
  filter: invert(1) hue-rotate(.5turn);
}
