/* 所有元素，颜色翻转（暗黑） */
html.dark-bili {
  color-scheme: dark light;
  filter: invert(1) hue-rotate(.5turn);
}

/* 与 B站自己的 Gray 灰色模式兼容 */
html.gray.dark-bili {
  color-scheme: dark light;
  filter: invert(1) hue-rotate(.5turn) grayscale(.95);
}

/* 图片、视频、带有背景图的原色，保持原有颜色（再次翻转） */
.dark-bili img,
.dark-bili svg,
.dark-bili [style*='background:url'],
.dark-bili [style*='background-image:url'],
.dark-bili [style*='background: url'],
.dark-bili [style*='background-image: url'],
.dark-bili video,
.dark-bili bwp-video {
  filter: invert(1) hue-rotate(.5turn);
}

/* 以 icon 结尾的 svg，一般用于修饰文字的图表，不进行再次翻转（保持暗黑） */
.dark-bili svg[class$='icon'] {
  filter: unset;
}

/* Video Player Page: 反转播放器：保持原色 */
.dark-bili .bpx-player-video-area {
  filter: invert(1) hue-rotate(.5turn);
}

/* Video Player Page: 播放器中的图片、视频等，不需要再次反转 */
.dark-bili .bpx-player-video-area img,
.dark-bili .bpx-player-video-area svg,
.dark-bili .bpx-player-video-area [style*='background:url'],
.dark-bili .bpx-player-video-area [style*='background-image:url'],
.dark-bili .bpx-player-video-area [style*='background: url'],
.dark-bili .bpx-player-video-area [style*='background-image: url'],
.dark-bili .bpx-player-video-area video,
.dark-bili .bpx-player-video-area bwp-video {
  filter: unset;
}

/* 视频页面在 fullscreen 下，需要先做颜色反转 */
:fullscreen {
  color-scheme: dark light;
  filter: invert(1) hue-rotate(.5turn);
}
